extends layout.pug

block content
	


	
	body(onload = 'getValue()')
		script(defer src='/scripts/basketShow.js')
		header.header
			h1.pageTitle 
				a.pageTitleLink(href = '/') 📎️ Richmond Paper Supply
				a.powered-by(href = '/') Progressive Web App
				button#butInstall(aria-label = 'Install')
				button#butRefresh(aria-label = 'Refresh')
		div.pageInfo
			div.card
				p.card-text-title
					b.topText Welcome To Your Basket
					br
					br
					b.topText <--Please note that ALL orders are UK Delivery ONLY-->
					br
					br
					button#remove(onclick = 'alert("This will remove everything from your basket");clearBasket()') Click Here to Clear your basket
		

   
		form#customerForm(name = 'form' class = 'form-data' method = 'post' onsubmit = 'sendData(event); checkQty();  getValue(); sendOrder(); copyBasket(); clearBasket();')
			table.tab
				tr.row
					td.col
						label(for='name') Name :
					td.col
						input(class = 'input' placeholder = 'Name' id = 'name' name = 'name' type = 'text' value = '' required autofocus)
				tr.row
					td.col
						label(for='email') Email :
					td.col
						input(class = 'input' placeholder = 'Email' id = 'email' name = 'email' type = 'email' value = '' required)
				tr.row
					td.col
						label(for='phone') Phone Number :
					td.col
						input(class = 'input' placeholder = 'Phone Number' id = 'phone' name = 'phone' type = 'text' value = '' required)
				tr.row
					td.col
						label(for='address') Delivery Address :
					td.col
						input(class = 'input' placeholder = 'Address' id = 'address' name = 'address' type = 'text' value = '' required)
				tr.row
					td.col
						label(for='postcode') PostCode :
					td.col
						input(class = 'input' placeholder = 'PostCode' id = 'postcode' name = 'postcode' type = 'text' value = '' required)
				
				//tr.row
					//td.col
						//label(for='time') Pickup/Delivery Date :
					//td.col
						//input(class = 'input' id = 'time' name = 'time' type = 'date' value = '' required)
				br
			div.row2
				div.pageInfo
					div.card#order
						p.card-text-title 
							b Your Order 🗒️ So Far : 
							br 
							ul#listForBasket.listForBasket
			
							input#butSubmit(class = 'sub' type = 'submit' value = 'Proceed to Payment')
							br
							b#tot Estimated total = 
							br
							div(id='paypal-button-container')



