extends layout.pug

block content
	body
		script(defer src='/scripts/basketShow.js')
		header.header
			h1.pageTitle 
				a.pageTitleLink(href = '/') 📎️ Richmond Paper Supply
				a.powered-by(href = '/') Progressive Web App
				button#butInstall(aria-label = 'Install')
				button#butRefresh(aria-label = 'Refresh')
		div.pageInfo
			div.card
				p.card-text-title
					b Some text about the contents of this page
						

	


   
		form#customerForm(name = 'form' class = 'form-data' method = 'post' onsubmit = 'sendData(event); checkQty(); sendBasket(); clearBasket()')
			table.tab
				tr.row
					td.col
						label(for='name') Name :
					td.col
						input(class = 'input' id = 'name' name = 'name' type = 'text' value = '' required autofocus)
				tr.row
					td.col
						label(for='email') Email :
					td.col
						input(class = 'input' id = 'email' name = 'email' type = 'email' value = '' required)
				tr.row
					td.col
						label(for='phone') Phone Number :
					td.col
						input(class = 'input' id = 'phone' name = 'phone' type = 'number' value = '' required)
				
				tr.row
					td.col
						label(for='time') Pickup/Delivery Date :
					td.col
						input(class = 'input' id = 'time' name = 'time' type = 'date' value = '' required)
				br
			div.row2
				div.pageInfo
					div.card
						p.card-text-title 
							b Your Order : 
				ul#listForBasket.listForBasket
			
				input#butSubmit(class = 'sub' type = 'submit' value = 'Send Order')
				
	div(id="paypal-button-container")
	script paypal.Buttons().render('#paypal-button-container');
	script paypal.Buttons({createOrder: function(data, actions) {return actions.order.create({purchase_units: [{amount: {value: '0.01'}}]});},onApprove: function(data, actions) {return actions.order.capture().then(function(details) {alert('Transaction completed by ' + details.payer.name.given_name);});}}).render('#paypal-button-container');
			//button#butSendOrder(aria-label = 'Send Order' onclick = 'checkQty()') Send Order
			//button#butSendOrder(aria-label = 'Send Order' onclick = 'checkQty()') Send Order
