extends layout.pug

block content
	body
		script(defer src='/scripts/basketShow.js')
		header.header
			h1.pageTitle 
				a.pageTitleLink(href = '/') Richmond Paper Supply
				a.powered-by(href = '/') Progressive Web App
				button#butInstall(aria-label = 'Install')
				button#butRefresh(aria-label = 'Refresh')
		div.pageInfo
			div.card
				p.card-text-title
					b Some text about the contents of this page
		form#customerForm(name = 'form' class = 'form-data' method = 'post' onsubmit = 'sendData(event); sendBasket(); clearBasket()')
			label(for="email") Email :
			br
			input(class='input' id='email' name='email' type='email' value='' required)
			ul#listForBasket.listForBasket
			input#butSubmit(type = 'submit' value = 'submit')
			//button#butSendOrder(aria-label = 'Send Order' onclick = 'checkQty()') Send Order
			//button#butSendOrder(aria-label = 'Send Order' onclick = 'checkQty()') Send Order
