extends layout.pug

block content
	


	
	body(onload = 'getValue();mdtoast("Loading your basket", {duration: 2000})')
		script(defer src='/scripts/basketShow.js')
		div(class = navbar-fixed)
			nav(id = 'nav' class = 'purple')
				div(class='nav-wrapper')
					a(href='/' class='card-content purple' id = 'title') 📎️ Richmond Paper Supply
						ul(class='right hide-on-med-and-down')
							li
								a(id = 'butInstall' aria-label = 'install')
									i(class='material-icons') add_circle_outline
							li
								a(id = 'butBasket' aria-label = 'basket')
									i(class='material-icons') shopping_basket
							li
								a(id = 'butRefresh' aria-label = 'refresh')
									i(class='material-icons') notifications
		div.pageInfo
			div.card
				p.card-content
					b.topText Welcome To Your Basket
					br
					br
					b.topText Please note that ALL orders are UK Delivery ONLY
					br
					br
					a#remove(class = 'btn red' onclick = 'mdtoast("Everything has been removed from your basket", {type: mdtoast.WARNING});clearBasket();setTimeout(()=>{location.reload()},2000)') Click Here to Clear your basket
		

   
		form#customerForm(name = 'form' class = 'form-data' method = 'post' onsubmit = 'checkQty(event);  copyBasket(); getValue(); sendOrder();')
			table.tab.card
				tr.row
					td.col
						label(for='name') Name :
					td.col
						input(class = 'input' placeholder = 'Name' id = 'name' name = 'name' type = 'text' value = '' required autofocus)
				tr.row
					td.col
						label(for='email') Email :
					td.col
						input(class = 'input' placeholder = 'Email' id = 'email' name = 'email' type = 'email' value = '' required)
				tr.row
					td.col
						label(for='phone') Phone Number :
					td.col
						input(class = 'input' placeholder = 'Phone Number' id = 'phone' name = 'phone' type = 'text' value = '' required)
				tr.row
					td.col
						label(for='address') Delivery Address :
					td.col
						input(class = 'input' placeholder = 'Address' id = 'address' name = 'address' type = 'text' value = '' required)
				tr.row
					td.col
						label(for='postcode') PostCode :
					td.col
						input(class = 'input' placeholder = 'PostCode' id = 'postcode' name = 'postcode' type = 'text' value = '' required)
				
				//tr.row
					//td.col
						//label(for='time') Pickup/Delivery Date :
					//td.col
						//input(class = 'input' id = 'time' name = 'time' type = 'date' value = '' required)
				br
			div#order
				div.card
					p.card-text-title 
						b Your Order 🗒️ So Far : 
							
						ul#listForBasket.listForBasket
			
						b#tot Estimated total =
						br
						 
						input#butSubmit(class = 'subpay btn purple' type = 'submit' value = 'Proceed to Payment')
						br
						div(id='paypal-button-container')



