extends layout.pug

block content
	


	
	body(onload = 'getValue()')
		script(defer src='/scripts/basketShow.js')
		div(class = navbar-fixed)
			nav(id = 'nav' class = 'purple')
				div(class='nav-wrapper')
					a(href='/' class='card-content purple' id = 'title') 📎️ Richmond Paper Supply
						ul(class='right hide-on-med-and-down')
							li
								a(id = 'butInstall' aria-label = 'install')
									i(class='material-icons') add_circle_outline
							li
								a(id = 'butBasket' aria-label = 'basket')
									i(class='material-icons') shopping_basket
							li
								a(id = 'butRefresh' aria-label = 'refresh')
									i(class='material-icons') notifications
		div.pageInfo
			div.card
				div.card-content
					h5 Order Confirmation:
					p Thank you for placing your order with Richmond Paper Supply, our team in the office has been notified of your order and you should recieve a confirmation of your order shortly. Thank you.
					ul#listForBasket.listForBasket
						
					br
					p#tot Your total was
					br
					p#ref
					br
					p Click here to print out your order confirmation:
					br
					a(class = 'btn purple' onclick = 'window.print();') Print
				div.card-content
					b Feedback
					br
					p It would be great if you could provide some feedback to us about your experience with this web app and what we could do to improve it.
					form(onsubmit = 'sendFeedback();mdtoast("Thanks for your feedback")')
						input(type = 'textarea' id = 'feedback')
						input(type = 'submit' class = 'btn purple')
				
			
							



