doctype html
head
  meta(charset='UTF-8')
  title Richmond Paper Supply
  link(type='text/css' rel='stylesheet' href='/styles/style.css')
  link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
  link(rel='manifest' href='/manifest.json')
  link(rel='apple-touch-icon' href='/images/icons/icon-152x152.png')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans&display=swap' rel='stylesheet')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black')
  meta(name='apple-mobile-web-app-title' content='Richmond PWA')
  meta(name='description' content='Richmond Paper Web App')
  meta(name='theme-color' content='#df78ef')
  script(defer='' src='https://code.jquery.com/jquery-3.3.1.js')
  script(defer='' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript')
  script(defer='' src='/scripts/luxon-1.11.4.js')
  script(defer='' src='/scripts/app.js')
  script(defer='').
    if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
    navigator.serviceWorker.register('/service-worker.js')
    .then((reg) => {
    console.log('Service worker registered.', reg);
    });
    });
    }
header.header
  h1.pageTitle
    | &#x1F4CE;&#xFE0F; Richmond Paper Supply
    a.powered-by(href='/')
      | Progressive Web App
    button#butInstall(aria-label='Install')
    button#butRefresh(aria-label='Refresh')
.pageInfo
  .card
    p.card-text
      b
        | ~~ pre-alpha ~~ 
        br
        br
        | Welcome to the Richmond Paper Progressive Web App Experience! 
        br
        br
        | Here&apos;s how our new site works: 
        br
        |  - You can add products to your basket by clicking the add to basket button.
        br
        |  - Select the quantity of the item that you would like to order.
        br
        |  - Finally an e-mail will be sent to our office and verified.
        br
        | Thanks for using our new website!
        br
        br
        | ~~ pre-alpha ~~
.grid
  .card
    img.cardImage(src='/images/square-logo-image.png')
    h2.card-title Product Catagory 1
    p.card-text Some text
    p.card-text Some text
    a.card-button-link(href='/option1') Let&apos;s Go
  .card
    img.cardImage(src='/images/square-logo-image.png')
    h2.card-title Product Catagory 2
    p.card-text Some text
    p.card-text Some text
    a.card-button-link(href='/option2') Let&apos;s Go
  .card
    img.cardImage(src='/images/square-logo-image.png')
    h2.card-title Product Catagory 3
    p.card-text Some text
    p.card-text Some text
    a.card-button-link(href='/option3') Let&apos;s Go
