// layout
doctype html
html(lang="en")
	head
		meta(charset='UTF-8')
		title NodeJS PostgresSQL and JSON demo #{ title }
		block styles
			link(rel="stylesheet" type="text/css" href="/style.css")
	body
		block content
	
	footer
		p @2020 by Dr Swag
				

