// layout
doctype html
html(lang="en")
	head
		meta(charset='UTF-8')
		title Richmond: #{ title }
		script(src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type='text/javascript')
		block styles
			link(rel="stylesheet" type="text/css" href="/styles/inline.css")
	body
		block content
	
	footer
		p @2020 by MrGhostlyOrb
				

