extends layout.pug

block content
	body(onload = 'productLoad()')
		header.header
			h1.pageTitle 
				a.pageTitleLink(href = '/') 📎️ Richmond Paper Supply
				a.powered-by(href = '/') Progressive Web App
				button#butInstall(aria-label = 'Install')
				button#butRefresh(aria-label = 'Refresh')
				button#butBasket(aria-label = 'Basket' onclick = 'location.href = "/basket"')
		div.pageInfo
			div.card
				p.card-text-title
					b Product : #{ product }
					p Desc : #{ productDescription }
		form#form(onsubmit='getValues(); return false;')
			div.grid-product#grid-product
	
