extends layout.pug

block content
	body()
		script(defer src = '/scripts/search.js')
		nav(id = 'nav' class = 'nav-extended purple')
			div(class='nav-wrapper')
				a(href='/' class='card-content purple' id = 'title') 📎️ Richmond Paper Supply
					ul(class='right hide-on-med-and-down')
						li
							a(id = 'butInstall' aria-label = 'install' class = 'waves-effect')
								i(class='material-icons') add_circle_outline
						li
							a(id = 'butBasket' aria-label = 'basket' class = 'waves-effect')
								i(class='material-icons') shopping_basket
						li
							a(id = 'butRefresh' aria-label = 'refresh' class = 'waves-effect')
								i(class='material-icons') notifications
						li
							a(id = 'butSearch' aria-label = 'refresh' class = 'waves-effect' onclick = 'location.href = "/search"')
								i(class='material-icons') search
				div(class='nav-content' id = 'tab-mob')
					ul(class='tabs tabs-transparent purple lighten-1')
						li(class='tab waves-effect')
							a(href='/') Home
						li(class='tab waves-effect')
							a(href='/option1') Option 1
						li(class='tab waves-effect')
							a(href='/option2') Option 2
						li(class='tab waves-effect')
							a(href='/option3') Option 3
		div.pageInfo
			div.card
				div.card-content
					h5 Search
						i.material-icons.right search
					form(method = 'POST' id = 'searchForm')
						div.input-field
							input.validate(type = 'text' id = 'search' placeholder = 'Search Query' required)
							label(for = 'search')
					ul#results.collection #{ results }
						
					
				
			
							



