*{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

html,body{
	margin:0;
	padding:0;
	background-color:#ececec;
}

header{
	height:56px;
	width:100%;
	background-color:#ab47bc;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size:15px;
}

#title{
	font-size:25px;
	padding-left:20px;
}

.header .powered-by {
  color: white;
  font-size: 0.4em;
  text-decoration: none;
  
}
#order{
	width:100%;
	margin-top:5%;

}

.ord{

	background-color:#ef5350;
	width:50%;
	position:relative;
	left:3%;
	margin:2%;
	padding:1%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius:10px;
	text-align:center;
	color:white;
}

.subpay{

	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	cursor: pointer;
  	background-color:#ab47bc;
	width:20%;
	position:relative;
	left:3%;
	margin:2%;
	padding:1%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius:10px;
	text-align:center;


}

label{
	margin-left: 5%;
	margin-top:1%;
	margin-bottom:1%;
}

.grid{
	display:grid;
	grid-template-columns: 25% 25% 25%; /* 5 cols */
	grid-template-rows:100%;
  	grid-column-gap:3%;
  	margin-left:15%;
  	margin-top:5%;
  	margin-bottom:5%;
}

.grid-product{
	display:grid;
	grid-template-columns: 20% 20% 20% 20%; /* 5 cols */
  	grid-column-gap:2%;
  	grid-row-gap:5%;
  	margin-left:12%;
  	margin-top:5%;
  	
  	
}

.card-home{
	background-color:white;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	border-radius:10px;
  	display:grid;
	grid-template-columns: 100%; /* 5 cols */
}

.cardImage{
	width:100%;
	margin-bottom:5%;
	border-radius:10px 10px 0px 0px;

}

.pageInfo{
	margin-top:2%;
	width:50%;
	position:relative;
	margin-left:25%;
}
.header button {
  border: none;
  cursor: pointer;
  height: 50px;
  margin-right: 16px;
  opacity: 0.54;
  outline: none;
  overflow: hidden;
  text-indent: -30000px;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  width: 24px;
  float:right;
}

.pageTitleLink{
	text-decoration:none;
	color:white;
}

.listForBasket{
	width:90%;
	position:relative;
	left:5%;
	list-style-type:none;
	
}

.listItem{

	width:50%;
	position:relative;
	left:25%;
	text-decoration:none;
	outline: 1px solid black;
	margin-top:2%;
	margin-bottom:2%;
	height:20%;
	
}

.listItem2{



	text-decoration:none;
	outline: 1px solid black;
	margin-top:2%;
	margin-bottom:2%;
	height:20%;
	padding:2%;
	
}

.header #butRefresh {
  background: url(/images/refresh.svg) center center no-repeat;
}

.header #butInstall {
  background: url(/images/install.svg) center center no-repeat;
}

.header #butBasket {
  background: url(/images/basket.svg) center center no-repeat;
}

#butSubmit{
	width:30%;
	margin-left:35%;
	margin-top:3%;
	height:6vh;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-align:center;
}

#tot{
	margin:2%;
	margin-left:5%;
}
#ref{
	margin:2%;
	margin-left:5%;
}

#remove{
	width:100%;
}


.card-text{
	
	padding-left:5%;
}

.card-text-title{
	padding:4%;
}

.card-button-link{
	background-color:#ee98fb;
	width:80%;
	padding:2% 3% 2% 3%;
	margin-left:7%;
	margin-top:5%;
	margin-bottom:3%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-decoration:none;
	text-align:center;
	color:black;
}

#customerForm{
	width:50%;
	margin-left:25%;
	margin-top:1%;

}
.tab{
	width:100%;
}
.row{
	width:100%;
	position:relative;
}
.col{
	width:100%;

}
.row2{
	column-span:2;
}
label { 
padding-left:10%;
}
.input {  
padding-right:10%;
	
}

.input{
	background-color:#ee98fb;
	width:80%;
	padding:2% 3% 2% 3%;
	margin-left:10%;
	margin-top:5%;
	margin-bottom:3%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-decoration:none;
	text-align:center;
	color:black;
}

.pageTitle{
	color:white;
	padding:0.25%;
	margin-left:5%;
	margin-top:20px;
}

footer{
	margin-top:10%;
}

@media only screen and (max-width: 1070px) {

	.numberCircle{
		display:block;
	}

	
	.pageTitle{
	
	
	}
	.pageTitleLink{
		
	
	}
	
	.header{
			height:56px;
			
		}
		


	#butSubmit{
		width:70%;
		margin-left:15%
	}

  .grid{
	display:grid;
	grid-template-columns: 90%; /* 5 cols */
  	grid-template-rows:    35% 35% 35%;
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:10%;
  	margin-top:5%;
}


.grid-product{
	display:grid;
	grid-template-columns: 45% 45%; /* 5 cols */
  	grid-template-rows: 35% 35% 35% 35%;
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:9%;
  	margin-top:5%;
  	
}

.pageInfo{
	margin-top:2%;
	width:90%;
	position:relative;
	left:5%;
	margin-left:0;
}

footer{
	margin-top:80%;
}



.card-home{
	background-color:white;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	border-radius:10px;
  	display:grid;
	grid-template-columns: 100%; /* 5 cols */
}

#customerForm{
	width:90%;
	margin-top:5%;
	margin-left:5%;

}

.listForBasket{
	margin-top:5%;
	margin-bottom:5%;
}

.listItem{
	width:100%;
	position:relative;
	left:0%;
}

}

@media only screen and (max-width: 600px) {

	*{
	
	}
	
	.pageTitle{
		
	
	}
	
		.header{
			height:56px;
		
			
		}
		
		.header button{
			height:40px;
			margin-top:5px;
		}
		
		.powered-by{
			display:none;
		}
		
		.pageTitleLink{
		
		
		
	
	}
	.tab{
		width:100%;
	}

  .grid{
	display:grid;
	grid-template-columns: 90%; /* 5 cols */
	grid-template-rows:35% 35% 35%;
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:10%;
  	margin-top:5%;
}


.grid-product{
	display:grid;
	grid-template-columns: 45% 45%; /* 5 cols */
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:9%;
  	margin-top:5%;
  	
}



}

@media (prefers-color-scheme: dark) {

	body,html{
		background-color:#292929;
	}
	#title{
		background-color:purple;
	}
	
	.card, .card-content{
		background-color:#1d1d1d !important;
		color:white;
	}
	
	.card-button-link{
		background-color:#c5c5c5;
	}
	
	.card-home{
		background-color:#1d1d1d;
		color:white;
	}
	label{
		color:white;
	}
	input{
		color:white !important;
	}

}

@media only screen and (max-width: 600px) {

	*{
		
	}
	
	.pageTitle{
		
	
	}
	
		.header{
			height:56px;
		
			
		}
		
		.header button{
			height:40px;
			margin-top:5px;
		}
		
		.powered-by{
			display:none;
		}
		
		.pageTitleLink{
		
		font-size:20px;
		margin-top:5%;
	
	}
	
	#butRefresh{
		display:none;
	}

  .grid{
	display:grid;
	grid-template-columns: 90%; /* 5 cols */
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:10%;
  	margin-top:5%;
}


.grid-product{
	display:grid;
	grid-template-columns: 45% 45%; /* 5 cols */
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:9%;
  	margin-top:5%;
  	
}
}

           
            
            .fab {
              position: fixed;
              width: 56px;
              left: 90%;
              bottom: 15px;
              margin-left: -28px;
            }
            


.numberCircle {
	position:relative;
	top:15px;
	left:35px;
    width: 27px;
    height:27px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    border: 2px solid #666;
    z-index:10000;
    background-color:white;
}
