*{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

html,body{
	margin:0;
	padding:0;
	background-color:#ececec;
}

header{
	height:56px;
	width:100%;
	background-color:#ab47bc;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size:1em;
}

.header .powered-by {
  color: white;
  font-size: 0.4em;
  text-decoration: none;
  
}
#order{
	width:200%;
	position:relative;
	right:25%;
	text-align:center;
}
label{
	margin-left: 5%;
	margin-top:1%;
	margin-bottom:1%;
}

.grid{
	display:grid;
	grid-template-columns: 25% 25% 25%; /* 5 cols */
  	grid-column-gap:3%;
  	margin-left:15%;
  	margin-top:5%;
  	margin-bottom:5%;
}

.grid-product{
	display:grid;
	grid-template-columns: 20% 20% 20% 20%; /* 5 cols */
  	grid-column-gap:2%;
  	grid-row-gap:5%;
  	margin-left:12.5%;
  	margin-top:5%;
  	
  	
}

.card{
	background-color:white;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	border-radius:10px;
  	display:grid;
	grid-template-columns: 100%; /* 5 cols */
}

.card-home{
	background-color:white;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	border-radius:10px;
  	display:grid;
	grid-template-columns: 100%; /* 5 cols */
}

.cardImage{
	width:100%;
	margin-bottom:5%;
	border-radius:10px 10px 0px 0px;

}

.pageInfo{
	margin-top:2%;
	width:50%;
	position:relative;
	left:25%;
}
.header button {
  border: none;
  cursor: pointer;
  height: 50px;
  margin-right: 16px;
  opacity: 0.54;
  outline: none;
  overflow: hidden;
  text-indent: -30000px;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  width: 24px;
  float:right;
}

.pageTitleLink{
	text-decoration:none;
	color:white;
}

.listForBasket{
	width:90%;
	position:relative;
	left:5%;
	list-style-type:none;
	
}

.listItem{

	width:50%;
	position:relative;
	left:25%;
	text-decoration:none;
	outline: 1px solid black;
	margin-top:2%;
	margin-bottom:2%;
	height:20%;
	
}

.header #butRefresh {
  background: url(/images/refresh.svg) center center no-repeat;
}

.header #butInstall {
  background: url(/images/install.svg) center center no-repeat;
}

.header #butBasket {
  background: url(/images/basket.svg) center center no-repeat;
}

#butSubmit{
	width:30%;
	margin-left:35%;
	margin-top:3%;
	height:6vh;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-align:center;
}

.card-text{
	
	padding-left:5%;
}

.card-text-title{
	padding:1%;
}

.card-title{
	margin-top:2%;
	padding-left:5%;
}

.card-button-link{
	background-color:#ee98fb;
	width:80%;
	padding:2% 3% 2% 3%;
	margin-left:7%;
	margin-top:5%;
	margin-bottom:3%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-decoration:none;
	text-align:center;
	color:black;
}

#customerForm{
	width:50%;
	margin-left:25%;
	margin-top:1%;

}
.tab{
	margin-left:25%;
}
.row{
	width:100%;
}
.col{
	width:55%;

}
.row2{
	column-span:2;
}
label { 
padding-left:10%;
}
.input {  
padding-right:10%;
}

.input{
	background-color:#ee98fb;
	width:70%;
	padding:2% 3% 2% 3%;
	margin-left:10%;
	margin-top:5%;
	margin-bottom:3%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-decoration:none;
	text-align:center;
	color:black;
}

.pageTitle{
	color:white;
	padding:0.25%;
	margin-left:5%;
}

footer{
	margin-top:30%;
}

@media only screen and (max-width: 1070px) {



	*{
		font-size: 3vw;
	}
	.tab{
		margin-left:0;
	}
	.pageTitle{
		font-size:1em;
	
	}
	.pageTitleLink{
		font-size:1em;
	
	}
	
	.header{
			height:56px;
			font-size:1em;
		}
		

	#order{
	width:100%;
	position:relative;
	left:0%;
}
	#butSubmit{
		width:70%;
		margin-left:15%
	}

  .grid{
	display:grid;
	grid-template-columns: 80%; /* 5 cols */
  	grid-template-rows:    40% 40% 40%;
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:15%;
  	margin-top:15%;
}


.grid-product{
	display:grid;
	grid-template-columns: 45% 45%; /* 5 cols */
  	grid-template-rows:    40% 40% 40% 40%;
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:10%;
  	margin-top:15%;
  	
}

.pageInfo{
	margin-top:2%;
	width:80%;
	position:relative;
	left:10%;
}

footer{
	margin-top:80%;
}

.card{
	background-color:white;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	border-radius:10px;
  	display:grid;
	grid-template-columns: 100%; /* 5 cols */
}

.card-home{
	background-color:white;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	border-radius:10px;
  	display:grid;
	grid-template-columns: 100%; /* 5 cols */
}

#customerForm{
	width:100%;
	margin-top:5%;
	margin-left:0;

}

.listForBasket{
	margin-top:10%;
}

.listItem{
	width:100%;
	position:relative;
	left:0%;
}

}

@media only screen and (max-width: 600px) {

	*{
		font-size: 4vw;
	}
	
	.pageTitle{
		font-size:2em;
	
	}
	
		.header{
			height:56px;
			font-size:1em;
			
		}
		
		.header button{
			height:40px;
			margin-top:5px;
		}
		
		.powered-by{
			display:none;
		}
		
		.pageTitleLink{
		
		font-size:20px;
		margin-top:5%;
	
	}

  .grid{
	display:grid;
	grid-template-columns: 80%; /* 5 cols */
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:15%;
  	margin-top:15%;
}


.grid-product{
	display:grid;
	grid-template-columns: 45% 45%; /* 5 cols */
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:10%;
  	margin-top:15%;
  	
}



}

@media (prefers-color-scheme: dark) {

	body,html{
		background-color:#292929;
	}
	.card{
		background-color:#1d1d1d;
		color:white;
	}
	
	.card-button-link{
		background-color:#c5c5c5;
	}
	
	.card-home{
		background-color:#1d1d1d;
		color:white;
	}

}

@media only screen and (max-width: 600px) {

	*{
		font-size: 4vw;
	}
	
	.pageTitle{
		font-size:2em;
	
	}
	
		.header{
			height:56px;
			font-size:1em;
			
		}
		
		.header button{
			height:40px;
			margin-top:5px;
		}
		
		.powered-by{
			display:none;
		}
		
		.pageTitleLink{
		
		font-size:20px;
		margin-top:5%;
	
	}
	
	#butRefresh{
		display:none;
	}

  .grid{
	display:grid;
	grid-template-columns: 80%; /* 5 cols */
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:15%;
  	margin-top:15%;
}


.grid-product{
	display:grid;
	grid-template-columns: 45% 45%; /* 5 cols */
  	grid-column-gap:2%;
  	grid-row-gap:2%;
  	margin-left:10%;
  	margin-top:15%;
  	
}
}
